<div class="left-sidebar">
    <div class="sidebar-menu">
        <ul>
            <li><a href="/user/index">User</a></li>
            <li><a href="/card/index">Card</a></li>
            <li><a href="/idea/index">Idea</a></li>
            <li><a href="/group/index">Group</a></li>
            <li><a href="/userprofile/index">User Profile</a></li>
            <li><a href="/choice/index">Choice</a></li>
            <li><a href="/ideaanswer/index">Idea Answer</a></li>
            <li><a href="/reporting/index">Reporting</a></li>
            <li><a href="/photo/index">Photo</a></li>
        </ul>
    </div>
</div>
