<div class="page-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron">
          <h3>About Mobioos NodeJS Framework Backend</h3>
          <p class="lead">Cras id est lorem. Nunc mattis nisl non lacus bibendum, posuere fringilla libero dapibus. Vivamus tempus tincidunt vestibulum.
          Pellentesque sed est dui. Sed euismod laoreet quam ut iaculis. Vivamus interdum ultrices tempus. Nullam tempus ligula a pretium
          tempus. Aliquam dapibus tempor nibh, sed accumsan orci consequat non. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Sed ut purus scelerisque, rutrum massa ac, ullamcorper urna. Mauris ut tortor ut nulla
          ultrices sodales.</p>          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
