<div class="container-fluid">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-title">
        <h4>Mobioos node js framework back office application. Use leftside menu to manage data/entities.</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
