<h4>Forgot Password</h4>
<p>New password is sent to your registered email id</p>
<p>Use this new password to login. Do not forget to change your password by using <b>Change Password</b> feature</p>

<div>
  <a class="nav-link" href="/account/login"> Back to Login</a>
</div>
