
<div class="container-fluid form-horizontal">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
    <h4>Choice - Edit Form</h4>
          </div>
      <div class="card-body">
    <form action="/choice/edit/{{_id}}" method="post">
    
    
    <div class="form-group row">
        <label for="name" class ="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" name="name" class="form-control" value="{{name}}">
        </div>
    </div>
    

    <div class="form-group row form-action">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </div>
    </form>
</div>
</div>
  </div>
</div>
<!-- <div>
    <a href="/choice/index">Back to List</a>
</div> -->
